@font-face{
    font-family: 'Eiko';
    font-weight: normal;
    font-style: normal;
    src: url("fonts/PPEiko-Light.woff2") format('woff2');
}

@font-face{
    font-family: 'FraktionMono';
    font-weight: normal;
    font-style: normal;
    src: url("fonts/PPFraktionMono-Regular.woff2") format('woff2');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #F7FFF7;
    font-size: 1em;
    font-family: 'FraktionMono';
}

header {
    margin-bottom: 3em;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 7;
}

h1 {
    font-family: 'Eiko';
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
}
main {
    margin: 0 auto 4em auto;
    max-width: 70%;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
    color: #AFC97E;
}


/* ids */

#nav {
    margin: 0 auto;
    padding: 1em 0 1.5em 0;
    max-width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    text-align: center;
}

#hide-books {
    user-select: none;
    display: inline-block;
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: rgb(212, 212, 212);
    border: 2px solid #272727;
    box-shadow: 0.10rem 0.1rem #272727;
    font-size: 1rem;
    font-weight: 600;
}
#hide-books:active {
    background-color: #fbfbfb;
    box-shadow: 0 0 #272727;
    transform: translateY(2px);
}

/* classes */

.typing-banner{
    width: 100%;
    height: 5vh;
    background: #FFE66D;
    color: black;
    border-top: 2px solid #272727;
    border-bottom: 2px solid #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-banner h4{
    font-size: 1em;
    text-transform: lowercase;
}

.hidden {
    display: none !important;
}
.shelf {
    border-bottom: 9px solid #877B66;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 6em;
}

.shelf .book-spine {
    background: #D4E6B5;
    color: black;
    height: fit-content;
    width: 2em;
    padding: 10px 0px;
    border-radius: 1.2em;
    margin-bottom: 0.5em;
    margin-right: 0.8em;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    line-height: 30px;
    font-size: 1rem;
    cursor: pointer;
}
.shelf .book-spine.active {
    background: #87A948;
}
.shelf .book-spine:hover:not(.active) {
    background: linear-gradient(270deg, #AFC97E, #87A948);
    background-size: 100vh 100vw;
    animation: slideBackground 2s ease-in;
}

@keyframes slideBackground {
    0% {background-position: 0% 50%;}
    0% {background-position: 100% 20%;}
    100% {background-position: 0% 50%;}
}
.book-detail {
    display: flex;

}
.book-detail .figure {
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
    align-items: center;
}
.book-detail .cover-image {
    margin: 2em;
    width: 50%;
    height: auto;
}
.book-detail .info {
}

.book-detail .title {
    max-width: 600px;
    font-size: 2rem;
    font-family: 'Eiko';
}
.book-detail .author {
    margin-top: 0.5em;
    padding-bottom: 1em;
    font-family: 'FraktionMono';
    font-size: 1rem;
    border-bottom: 2px solid #877B66;
}
.book-detail .description {
    margin: 0.5em 0;
    font-size: 1.2rem;
    line-height: 1.4;
    max-width: 600px;
    font-family: 'FraktionMono';
}
.info {
    padding: 1.5em;
}

.type{
    background-color: #FFE66D;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 6.3em;
}


@media (max-width: 600px) {
  .book-detail {
    flex-direction: column;
    text-align: center;
  }


  .book-detail .figure {
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-bottom: 2em;
  }

  .type{
    background-color: #FFE66D;
    display: flex;
    font-size: 1rem;
    }

    #shelf{
        overflow: scroll;
        max-width: 80vw;
    }

    .book-detail .figure {
        display: flex;
        flex-direction: column;
        width: 90vw;
        justify-content: center;
        align-items: center;
    }
}


/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {}*/
   /* #nav{
        max-width: 30vw;
        font-size: 0.5em;
    }

    h1{
        font-size: 2rem;
    }

    main{
        width: 100%;
    }

    .shelf{
        max-width: 10vw;
    }

}


    main {
        max-width: 80%;
    }
    #nav {
        max-width: 70%;
        justify-content: space-between;
    }
    #header-caption {
        display: none;
    }
    .book-detail {
        display: flex;
        flex-direction: column;
    }
    .book-detail .info {
        border-left: none;
        border-top: 2px solid #272727;
    }
    .book-detail .description {
        font-size: 2rem;
    }
    .book-detail .figure {
        max-width: 60%;
        height: auto;
        margin: 2em auto;
    }




}*/