/*FONTS*/

@font-face{
	font-family: 'Ogg';
	font-weight: normal;
	font-style: normal;
	src: url("assets/fonts/Ogg-Regular.woff2") format('woff2');
}


@font-face{
	font-family: 'Ogg';
	font-weight: normal;
	font-style: italic;
	src: url("assets/fonts/Ogg-RegularItalic.woff2") format('woff2');
}

@font-face{
	font-family: 'Ogg';
	font-weight: 500;
	font-style: normal;
	src: url("assets/fonts/Ogg-Medium.woff2") format('woff2');
}

@font-face{
	font-family: 'Ogg';
	font-weight: 500;
	font-style: italic;
	src: url("assets/fonts/Ogg-MediumItalic.woff2") format('woff2');
}

@font-face{
	font-family: 'Ogg';
	font-weight: bold;
	font-style: normal;
	src: url("assets/fonts/Ogg-Bold.woff2") format('woff2');
}

@font-face{
	font-family: 'Ogg';
	font-weight: bold;
	font-style: italic;
	src: url("assets/fonts/Ogg-BoldItalic.woff2") format('woff2');
}

/*STRUCTURE*/


*{
	margin: 0;
	padding: 0;
}

body{
	height: 100vh;
	width: auto;
	background-color: #F8F8F8;
}

/*HOME PAGE*/

#home{
	background-color: #FF7C52;
	height: 100%;
}

.home-page{
	display: flex;
	flex-direction: row;
	padding: 2em;
}

.home-left{
	flex-direction: column;
	width: 60vw;
}

.home-right{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-left: 13em;
	border: 2px #F4ECE4 solid;
	width: 20vw;
	height: 86vh;
	align-items: center;
	overflow: scroll;
}

.home-image{
	width: 90%;
	padding: 1em;
	height: auto;
}

.arrow{
	padding-top: 2em;
	width: 2%;
}

.home-banner{
}

.home-banner-container{
	width: 100vw;
	height: 4vh;
	background-color: #F4ECE4;
	position: fixed;
	bottom: 0;
	overflow: hidden;
	padding-left: 2em;
	padding-right: 2em;
}
	

.scroll-text {
	font-family: neue-haas-grotesk-text, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	color: #FF7C52;
	animation: scroll-text 19s linear infinite;
	overflow:hidden;
	white-space: nowrap;
	display: flex;
	margin-top: 0.2em;
}


@keyframes scroll-text {
	from {
		transform: translateX(100vw); 
	}
	to {
		transform: translateX(-100vw);
	}
}

.home-banner-container:hover{
	background-color: #FF7C52;
}

.home-banner-container:hover .scroll-text{
	color:#F4ECE4;
}

.scroll-text > a{
	text-decoration: none;
	color: inherit;
}

.scroll-text > a:hover{
	text-decoration: none;
	color: inherit;
}

.highlight-ogg{
	font-family: 'Ogg';
	font-weight: normal;
	font-style: italic;
	font-size: 1.5em;
	letter-spacing: -0.06em;
	line-height: 0.8em;
	color: #F4ECE4;
}

.highlight-ogg > a{
	text-decoration: none;
	color: inherit;
}

.highlight-ogg > a:hover{
	border-bottom: 2px solid #F4ECE4;
}

/*GALLERY*/

a{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
	color: inherit;
}



.gallery-page{
	padding: 2em;
	height: 100vh;
}


.gallery-banner-container{
	width: 100vw;
	height: 4vh;
	background-color: #FF7C52;
	position: fixed;
	top: 0;
	overflow: hidden;
	padding-left: 2em;
	padding-right: 2em;
	z-index: 4;
}

.gallery-scroll-text {
	font-family: neue-haas-grotesk-text, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	color: #F4ECE4;
	animation: gallery-scroll-text 19s linear infinite;
	overflow:hidden;
	white-space: nowrap;
	display: flex;
	margin-top: 0.2em;
}

@keyframes gallery-scroll-text {
	from {
		transform: translateX(100vw); 
	}
	to {
		transform: translateX(-100vw);
	}
}

.filter{
	position: fixed;
	border-bottom: 2px #C1C1C1 solid;
	background-color: white;
	z-index: 2;
	width: 100vw;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 2.9em;
	padding-bottom: 1em;
}

.filter:hover{
}

.filter-container{
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.filter-category-container{
	border-radius: 25px;
	border: 2px solid black;
	padding: 0.7em;
	width: fit-content;
	height: 1vh;
	line-height: 0.5em;
	display: flex;
	justify-content: center;
	align-content: center;
}

.filter-category-container:hover{
	cursor: pointer;
	background-color: #E4E4E4;
}

.filter-category-container-filled{
	border-radius: 25px;
	border: 2px solid black;
	padding: 0.7em;
	width: fit-content;
	height: 1vh;
	line-height: 0.5em;
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: black;
	color: white;
}


.filterby-container{
	padding: 0.8em;
	width: 6em;
	height: 1vh;
	line-height: 0.5em;
	display: flex;
	justify-content: center;
	align-content: center;
}



.icon{
	height: 1.7vh;
	padding-left: 0.6em;
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	align-self: center;
}

.button-icon{
	height: 1.7vh;
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	align-self: center;
	margin: 0.5rem auto;
}


.button-shape{
	width: 1em;
	height: 1em;
	border: 2px solid #C1C1C1;
}

.button-shape:hover{
	border-radius: 50px;
	transition: 0.4s ease-in;
	cursor: pointer;
	background-color: #E4E4E4;

}



/*GRIDS*/

.item1 {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	align-content: center;
}

.item1-expanded {
	grid-area: column1;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	height: 48vw;
	gap: 30px;
/*	border: 1.5px #C1C1C1 solid;
*/}

.item1-expanded > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item2 { /*grid-area: column2; */}
.item3 {/* grid-area: column3;*/ }
.item4 {
	grid-area: column4;
	border: 1.5px #C1C1C1 solid;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'column1 column2 column3';
    gap: 1em;
    width: 80vw;
    height: auto;
/*    background-color: lavender;
*/    padding: 5em;
    margin: 0 auto;
}

.grid-container > div {
/*	background-color: lightgray;
*/	text-align: center;
	padding: 1.25rem 0;
	font-size: 1.875rem;
}

.item-container{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 5rem;
}

.grid-container-expansion{
 	display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'column1 column4';
    gap: 1em;
    width: 80vw;
    height: 40vw;
	padding: 6.1em 5em 1em 5em;
    justify-content: center;
    margin: 0 auto;
}

.grid-container-expansion > div {
/*	background-color: lightgray;
*/	text-align: left;
	padding: 1.25rem;
	font-size: 1.875rem;
}


/*NESTED GRID 1*/

.grid-nested-expansion{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'info1 info2';
    gap: 0.5em;
    /* background-color: lavender; */
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    padding: 0.2em 1em 0.2em 2em;
}

.nested-item1{
	grid-area: info1;
}

.nested-item2{
	grid-area: info2;
}

.grid-nested-expansion > div {
/*	background-color: pink;
*/	text-align: left;
	padding: 1.25rem 0;
}

/*NESTED GRID 2*/

.grid-nested{
	display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-template-areas: 'side1 side2';
    gap: 0.5em;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.nested-photo{
	grid-area: side1;
}

.nested-button{
	grid-area: side2;
	display: grid;
	justify-content: end;
}

.grid-nested > div {
/*	background-color: seagreen;
*/	text-align: left;
}




/*SCROLL*/


#style-8::-webkit-scrollbar-track{
/*	border: 1px solid black;
*/	background-color: #E4E4E4;
}

#style-8::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb{
	background-color: #C4C4C4;	
}








/*IMAGE TREATMENTS*/

.photo{
	max-width: 25vh;
	padding-bottom: 1rem;
}

.photo:hover{
	border-radius: 20%;
	transition: 0.3s;
	cursor: zoom-in;
}

.photo-expanded{
	max-width: 50vh;
}

.photo-expanded:hover{
	transform: scale(1.05);
	transition: 0.3s ease-out;
	cursor: zoom-in;
}



/*HEADINGS*/

h1{
	font-family: neue-haas-grotesk-display,sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 5em;
	width: 17ch;
	line-height: 1em;
	color: #F4ECE4;
}


h2{
	font-family: neue-haas-grotesk-text, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.5rem;
}

h3{
	font-family: neue-haas-grotesk-text, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.2rem;
}

h4{
	font-family: neue-haas-grotesk-text, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.9rem;
	padding-top: 0.2em;
}

p{
	font-family: neue-haas-grotesk-text, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.9rem;
	padding-top: 0.2em;	
}

.filter-text{
	font-family: neue-haas-grotesk-display,sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.3em;
}
