*{
	margin: 0;
	padding: 0;
}

body{
	background-color: beige;
}
.container{
	margin: 2em;
}

ul{
	margin-left: 3em;
}

li{
	font-family: "Helvetica", sans-serif;
	font-size: 1em;
	margin-bottom: 0.1em;
}

h1{
	font-family: "Helvetica", sans-serif;
	font-size: 3em;
	margin-bottom: 0.2em;
}

h2{
	font-family: "Helvetica", sans-serif;
	font-size: 1.5em;
	margin-bottom: 1em;
}

h3{
	font-family: "Helvetica", sans-serif;
	font-size: 1.2em;
	margin-bottom: 1em;
}


h4{
	font-family: "Helvetica", sans-serif;
	font-size: 1em;
	margin-bottom: 1em;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	background-color: plum;
}


.folder{
	padding-bottom: 2em;
}