*{
	margin: 0;
	padding: 0;
}

body{
	margin: 5em;

}

iframe{
	border: none;
}

a{
	text-decoration: none;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 600;
}

a:hover{
	color: red;
}

p{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 1em;
	font-size: 1em;
}


ol{
	font-family: 'Open Sans', sans-serif;
	padding-left: 5em;
	font-size: 1em;
}

h1{
	font-family: 'PPMonumentExtended-Black', sans-serif;
	font-size: 5em;
	font-weight: black;
}

li{
	margin-bottom: 0.5em;
}

h2{
	font-size: 1.5em;
}

h3{
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.6em;
	font-weight: 600;
	font-size: 1em;
}


@font-face{
	font-family: 'PPMonumentExtended';
	src: url("fonts/PPMonumentExtended-Regular.woff") format('woff');
}


@font-face{
	font-family: 'PPMonumentExtended-Black';
	src: url("fonts/PPMonumentExtended-Black.woff2") format('woff2');
}

.container {  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows:  auto 1fr 1fr 1fr;;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "top top"
    "first-side first-content"
    "second-side second-content"
    "third-side third-content";
}

.nav {
	display: flex;
	justify-content: space-between;	
  position: sticky;
  width: 89vw;
  height: 0;
  top: 0;
  float: none;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: white;
}


.top {
	text-align: center;
	grid-area: top;
/*	grid-area: 1 / 1 / 2 / 3;
*/}

.first-side { grid-area: first-side; }

.first-content { grid-area: first-content; }

.second-side {
	grid-area: second-side; 

}

.second-content {
	grid-area: second-content;
}

.third-side { grid-area: third-side; }

.third-content { grid-area: third-content; }

.container {  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 5.5fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
}


.first-row {
	grid-area: 2 / 1 / 3 / 3;
	border-bottom: black 2px solid;
}

.second-row {
	grid-area: 3 / 1 / 4 / 3;
	border-bottom: black 2px solid;
}

.subtitle{
	font-family: 'PPMonumentExtended', sans-serif;
	text-align: left;
	padding-top: 3em;
	padding-bottom: 3em;
}

.content{
	text-align: left;
	padding-top: 3em;
	padding-bottom: 3em;
}

#title{
	padding: 3em;
}

.caption{
	font-family: 'PT Mono', monospace;
}

.images{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	align-content: bottom;
	justify-content: bottom;
	margin-bottom: 2em;
	font-size: 0.9em;
}

.caption{
	padding-right: 2em;
}

.img{
	padding: 2em;
}