body{
	background-color: #FAF9F6;
	font-size: 30px;
	}

.fillrect {
  border: 1px solid #000000;
  padding: 0 10px;
  transition: all 0.5s ease;
}

.fillrect:hover {
  background-color: #000000;
  cursor: pointer;
  color: #FAF9F6;
}

.fillrect2 {
  border: 1px solid #ffb101;
  padding: 0 10px;
  transition: all 0.5s ease;
}

.fillrect2:hover {
  background-color: #ffb101;
  cursor: pointer;
  color: #FAF9F6;
}

.and {
  font-style: normal;
}

.and:hover {
  cursor: pointer;
  font-style: italic;
}

.link {
  font-style: italic;
  background-color: #ffb101;
  text-decoration: none;
  color: #000;
  position: relative;
  transition: all 10s ease-in-out;
}

.link:hover:after {
  content: url(https://i.pinimg.com/originals/5d/02/0b/5d020be119eefd16acd49c7e0b9f598c.png);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);