html, body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#7abae1,#ffacd4,#ffedb9);
  font-family: 'PT Mono', monospace;
  display: flex;
  height: auto;
  width: auto;
  line-height: 1.3;
  cursor: url('heartcursor.png'), pointer;
}

/* SCROLLING */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #faf1d0; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7abae1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7abae1; 
}

.sidebar{
  flex: 0.6;
  order: 1;
  background-color:#faf1d0;
  height: 100%;
  padding: 5%;
  box-sizing: border-box;
}

.sidebar .container {
  height: 100%;
  padding: 15%;
}

.content{
  flex: 2;
  order: 2;
  height: 100vh;
  overflow: auto;
  padding:5%;
  box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.pullout{
  font-size: 25px;
}

.pulloutsource{
  font-size: 18px;
  color:#3b81b8;
}

.highlight{
  background-color: #ffeb68;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

.highlight:hover {
  cursor: pointer;
  background: linear-gradient(270deg, #ffeb68, #5eaeda, #e6a9d6, #fff5d6, #ffaac0);
  background-size: 1000% 1000%;

  -webkit-animation: slideBackground 2s ease infinite;
  -moz-animation: slideBackground 2s ease infinite;
  animation: slideBackground 2s ease infinite;
}

    @-webkit-keyframes slideBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes slideBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes slideBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

.simplelink{
  text-decoration: none;
  color: #000;
  background-color: #ffacd4;
  transition: all 0.1s ease;
}

.simplelink:hover {
  background-color: #ffeb68;
}

.nav{
  text-align: left;
  font-style: italic;
  font-weight: 800px;
  font-size: 14px;
  margin-bottom: 3%;
  color: #3b81b8;
}
hr{
  border: 1px solid #faf1d0;
}