body{
	display: flex;
	align-content: center;
	justify-content: center;
	align-self: center;
	text-align: center;
	flex-direction: column;
	font-family: sans-serif;
	background-color: black;
	color: white;
}

